.dropdown {
  display: flex;
  flex-direction: column;

  margin-left: 40px;
  margin-top: 4px;

  gap: 6px;

  border-left: 2px solid rgba(255, 255, 255, 0.08);

  padding-left: 16px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;

  border: none;
  background: none;

  color: #d8d8d8;

  padding: 10px 12px;

  border-radius: 12px;

  cursor: pointer;

  transition: 0.2s;
}

.dropdown-item:hover {
  background: #6C63FF;

  color: white;
}